.homePage {
    background-color: var(--background);
}

.heroSection {
    position: relative;
    height: auto;
    z-index: 1;
}

.heroSectionLabel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

.heroSectionLabel p {
    color: var(--foreground);
    font-size: 60px;
}

.heroSectionLabel span {
    color: var(--background);
}

.heroSectionLabel button {
    background-color: var(--foreground);
    color: var(--background);
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(122, 121, 121);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heroSectionLabel button:hover {
    background-color: var(--background);
    color: var(--foreground);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}