.blogInfomation {
    background-color: var(--background);
    ;
}

.blog {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20%;
    box-shadow: rgba(112, 112, 112, 0.35) 0px 5px 15px;
    z-index: 1;
}

.blogHeader {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.authorAvatar {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.authorAvatar:hover {
    transform: scale(1.05);
}

.authorName {
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s ease;
}

.authorName:hover {
    color: #8e8e8e;
}

.releaseDay {
    font-size: 20px;
    color: rgb(212, 212, 212);
}

.blogMainContent {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.blogTitle {
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
    color: var(--foreground);
}

.blogExcerpt {
    font-size: 20px;
    color: rgb(148, 147, 147);


}

.blogImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.blogContent {
    font-size: 20px;
    text-align: justify;
    color: var(--foreground);
}

.blogContent h2 {
    font-size: 50px;
}

.blogContent img {
    margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
    .blog {
        max-width: 1200px;
        width: 100%;
        height: auto;
        margin: 100px auto;
        padding: 50px 20px;

    }

    .blogImage {
        height: 900px;
    }



}