.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease-in-out;
    z-index: 1000;
    backdrop-filter: none;
    padding: 10px 0;
}

.searchIcon {
    cursor: pointer;
    font-size: 18px;
    margin-left: auto;
    transition: transform 0.2s ease;
}

.searchIcon:hover {
    transform: scale(1.2);
}

.scrolled {
    background-color: var(--foreground);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.scrolled li {
    color: var(--background);

}

.navList {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.leftItems {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.navItem {
    font-size: 20px;
    font-weight: bold;
    color: var(--foreground);
    width: 100%;
    max-width: fit-content;

}

.active {
    border-bottom: 3px solid rgb(170, 169, 169);
}

.searchInput {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: white;
    color: black;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    transition: width 0.3s ease;

}

.searchWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}